
/* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
}

ul,ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --blue: #0084FD;
    --lightblue: #b5ddff;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

/* Container e row generali */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.space-nav{
    justify-content: space-between;
    align-items: center;
}

.row-card-20{
    justify-content: space-around;
}

/* Col */

.col-30{
    flex-basis: calc(100%/3);
}

.col-20{
    flex-basis: calc(100%*(2/3));
}

/* Buttons */

.button{
    padding: 8px 15px;
    border-radius: 20px;
    background-color: var(--blue);
    color: white;
}

.button--white{
    padding: 0px 5px;
    border-radius: 20px;
    background-color: white;
    color: black;
}

/*** HEADER ***/

.main-header{
    background-color: var(--blue);
    padding: 19px 0px;
    color: white;
}

.nav-item a{
    line-height: 38px;
    font-size: 14px;
    padding: 0 16px;
}

/* Media query header */

.hamburger{
    display: none;
}

@media screen and (max-width: 891px) {
    .hamburger {
        display: block;
    }

    .header-nav{
        display: none;
    }
}

/*** CARD ***/

.main-card{
    padding: 20px 0px;
}

.row-card-20:first-child{
    flex-wrap: nowrap;
}

.card{
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
}

.col-card-20{
    max-width: 355px;
}

.col-card-20 img{
    width: 200px;
}

.col-card-20 p{
    margin-top: 35px;
    margin-bottom: 35px;
}

.col-card-30 p{
    margin-top: 25px;
}

.row-card-30{
    flex-direction: column;
}

.container-card-30{
    text-align: center;
}

.col-card-30 .icon{
    font-size: 60px;
    margin-bottom: 25px;
}

.main-card h3,.icon{
    color: var(--blue);
}

/* Media query Card */

@media screen and (max-width: 575px){
    .main-card [class^="col-"]{
        flex-basis: calc(100%);
    }

    .row-card-20{
        flex-direction: column;
    }
}

@media screen and (max-width: 891px){
    .row-card-20{
        flex-direction: column;
    }

}

/*** HERO ***/

.row-hero{
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    color: white;
}

.main-hero .container{
    padding: 50px;
}

.main-hero{
    background-color: var(--purple);
    min-height: 200px;
}

.planning1{
    width: 300px;
}

.planning2{
    width: 200px;
}

.col-hero{
    max-width: 400px;
}

.row-hero-right{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 25px;
}

.row-hero-left h3{
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.row-hero-right h3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.arrow{
    font-size: 12px;
    padding: 12px;
    background-color: var(--purple);
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Media query hero */

@media screen and (max-width: 891px){
    .row-hero{
        flex-direction: column;
    }
    .row-hero img{
        width: 500px;
    }
    .row-hero-left h3{
        font-size: 50px;
    }

    .col-hero{
        max-width: 600px;
    }
}

@media screen and (max-width: 575px){
    .row-hero{
        flex-direction: column;
    }

    .row-hero img{
        width: 300px;
    }

    .row-hero-left h3{
        font-size: 30px;
    }

    .col-hero{
        max-width: 400px;
    }
}